@model Digimap.Models.Sala

@{
    ViewBag.Title = "PisoSiete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Piso 7</h2>

<table class="table">
    <tr>
        <td>
        <img src="~/Content/Planos/Floor7Base.png" width="1000" height="600" class="img-fluid" />
    </tr>

</table>