@model Digimap.Models.Sala

@{
    ViewBag.Title = "PisoDos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Piso 2</h2>

<table class="table">
    <tr>
        <td>
            <img src="~/Content/Planos/Floor2Base.png" width="1000" height="600" class="img-fluid" />
    </tr>

</table>