@model Digimap.Models.Sala

@{
    ViewBag.Title = "PisoMenosUno";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br/>
<h2>Piso -1</h2>

<table class="table">
    <tr>
        <td>
        <img src="~/Content/Planos/Floor-1Base.png" width="1000" height="600" class="img-fluid"/>
    </tr>

 </table>
