@model Digimap.Models.Sala

@{
    ViewBag.Title = "PisoSeis";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Piso 6</h2>

<table class="table">
    <tr>
        <td>
        <img src="~/Content/Planos/Floor6Base.png" width="1000" height="600" class="img-fluid" />
    </tr>

</table>